html{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

#shapes{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* background-color: cadetblue; */
    justify-content: center;
    align-items: center;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}

/* .oval{
    width: 200px;
    height: 100px;
    background-color: darkslateblue;
    border-radius: 100px/50px;
} */

.triangle{
    width: 0px;
    height: 0px;
    border-bottom: 100px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.triangle-down{
    height: 0;
    width: 0;
    border-top: 100px solid crimson;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.triangle-left{
    height: 0;
    width: 0;
    border-right: 100px solid rgb(204, 19, 241);
    border-top: 50px solid transparent;
    /* border-left: 50px solid purple; */
    border-bottom: 50px solid transparent;
}
.fun{
    height: 0;
    width: 0;
    border-right: 50px solid green;
    border-top: 50px solid red;
    border-left: 50px solid purple;
    border-bottom: 50px solid yellow;
}

/* @media only screen and (max-width: 500px){
    body{
        background-color: rgb(232, 241, 106);
    }
    div > div{
        width: 30%;
    } */
}